<div class="flex">
	<div class="hidden lg:block h-screen flex flex-col w-16 bg-base-300 py-4 px-2 gap-y-4">
		<a href="/" class="flex justify-center items-center">
			<img class="w-full" src="angular_gradient.png"/>
		</a>
		<div class="divider"></div>
		<a href="/" class="flex flex-col justify-center items-center gap-y-1">
			<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-width="2" d="M3 11h18M3 15h18m-9-4v8m-8 0h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
			</svg>
			<span class="text-xs">Traffic</span>
		</a>
	</div>
	<div class="flex flex-col w-full">
		<div class="lg:hidden flex justify-between gap-x-4 bg-base-300 h-16 py-2 px-2">
			<a class="max-h-full" href="/">
				<img class="max-h-full" src="angular_gradient.png"/>
			</a>
			<button class="btn btn-square btn-ghost">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
			</button>
		</div>
		<div class="w-full mt-8 lg:mt-16 px-4">

			<div class="max-w-screen-md mx-auto">
				<h2 class="text-2xl font-bold mb-8">Traffic</h2>
				<div class="flex flex-col bg-base-300 px-4 py-4 mb-8 rounded-xl">
					<span class="text-sm font-bold mb-2">Filters</span>
					<div class="flex">
						<form #filterForm="ngForm" (ngSubmit)="filterResults()">
							<label class="form-control">
								<div class="label">
									<span class="label-text">Threshold</span>
								</div>
								<div class="join">
									<input class="input input-sm w-24 bg-base-100" type="number" name="threshold" [(ngModel)]="filters.threshold" placeholder="Threshold" #filter>
									<button class="btn btn-sm btn-primary join-item" type="submit">Ok</button>
								</div>
							</label>
						</form>
					</div>
				</div>

				<div class="overflow-x-auto mb-12 bg-base-300 rounded-xl p-4">
					<table class="table">
						<thead>
							<tr>
								<th>Page URL</th>
								<th>Traffic Count</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let endpoint of filteredTrafficEndpointList">
								<td>{{ endpoint.page_url }}</td>
								<td>{{ endpoint.traffic }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<canvas class="max-h-56" baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"></canvas>
			</div>
		</div>
	</div>
</div>